<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Url.Content(Model.ImageUrl)" class="profile-img" alt="@Model.Name" class="img-thumbnail">
        </div>
        <div class="col-md-8">
            <h1>@Model.Name</h1>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <img src="~/assets/icons/mail.png" class="icon-img" alt="Email Icon" style="margin-right: 10px;">
                        <a href="mailto:@Model.Email">@Model.Email</a>
                    </p>
                    <p>
                        <img src="~/assets/icons/phone.png" class="icon-img" alt="Phone Icon" style="margin-right: 10px;">
                        <a href="tel:@Model.Phone">@Model.Phone</a>
                    </p>
                    <p>
                        <img src="~/assets/icons/pin1.png" class="icon-img" alt="Location Icon" style="margin-right: 10px;">
                        @Model.Location
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <i class="fab fa-linkedin"></i>
                        <img src="~/assets/icons/linkedin.png" class="icon-img" alt="LinkedIn Icon" style="margin-right: 10px;">
                        <a href="https://www.linkedin.com/in/viren-sareen-317451a3/" target="_blank">LinkedIn</a>
                    </p>
                    <p>
                        <i class="fab fa-github"></i>
                        <img src="~/assets/icons/github.png" class="icon-img" alt="GitHub Icon" style="margin-right: 10px;">
                        <a href="https://github.com/virensareen" target="_blank">GitHub</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h4>Microsoft certified software engineer</h4>
            <p>@Model.Intro</p>
        </div>
    </div>
</div>