@model IEnumerable<Resume.Data.Tables.ExtraCurricular>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Extra Curriculars</h1>
            <hr>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="certification-item">
                    <i class="fas fa-certificate fa-2x"></i>
                    <img src="@Url.Content(item.ImageUrl)" class="small-icon-img" alt="@item.Title" style="float: left; margin-right: 10px;">
                    <h2 class="certification-title">@item.Title</h2>
                    <p class="certification-date">@item.TimePeriod</p>
                    <p class="certification-description">@item.Description</p>
                </div>
            </div>
        }
    </div>
</div>